.custom-day-header {
    background-color: #ffeb3b; /* Couleur jaune */
    color: #000000; /* Couleur noire */
    padding: 10px;
    border-radius: 5px;
}

.bg-blue-500 {
    background-color: #3b82f6; /* Couleur bleue */
}

.text-white {
    color: #ffffff; /* Couleur blanche */
}